@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

body {
  background-color: var(--bg);
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  min-height: 80dvh;
  color: var(--text);
}

#footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.v-application, .v-overlay-container {
  font-family: 'Oxanium', monospace;
}
