body {
  background-color: var(--bg);
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  min-height: 80dvh;
  color: var(--text);
}

#footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
